.div {
	width: 100px;
    height: 100px;
	border-radius:50px;
    background: radial-gradient(circle, red 10px, blue 30px);
    position: relative;
	animation: myanimation infinite 6s  alternate;
}
@keyframes myanimation {
  0%  {
	width: 100px;
    height: 100px;
	border-radius:50px;
	transform:skewx(0deg);
  }
  15%  {
	border-radius: 0px;
	background: radial-gradient(circle, red 10px, blue 30px);
  }
  30% {
  width: 100px;
    height: 100px;
	background: radial-gradient(circle, red 20px, blue 40px);  
  } 
  45% {
	width: 200px;
    height: 200px; 
	transform:skewx(0deg);
  }
  60% {
	transform:skewx(45deg);
  }
   75% {
   width: 200px;
    height: 200px;
	
	transform:skewx(0deg);
  }
  85% {
	width: 100px;
    height: 100px; 
	background: radial-gradient(circle, red 20px, blue 40px); 
  } 
  90% {
  border-radius: 0px;
  background: radial-gradient(circle, red 10px, blue 30px);
  }
100% {
	border-radius:50px;
  }
}

